<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uiza">

    <application
        android:name=".app.LSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!--support 18:9-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".activity.splash.OptionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.splash.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.v2.cannotslide.HomeV2CannotSlideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.v2.cannotslide.SearchV2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.v2.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.v2.cannotslide.UizaPlayerActivityV2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.v2.canslide.HomeV2CanSlideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".activity.home.v2.FloatClickFullScreenReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="FLOAT_CLICKED_FULLSCREEN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>