<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uiza">

    <application
        android:name=".app.LSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!--support 18:9-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".option.OptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".v4.helper.cannotslide.LoginActivity" />
        <activity android:name=".v4.SplashActivity" />
        <activity
            android:name=".v4.HomeV4CanSlideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".v4.live.LivestreamBroadcasterActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>
</manifest>