<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uizacoresdk">

    <application android:allowBackup="true">

        <service
            android:name=".view.floatview.FUZVideoService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
